.wrapper {
  display: grid;
  place-content: center;
}

.card {
  width: 400px;
  margin-top: 4rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary-color);
  box-shadow: var(--shadow);
  display: grid;
  gap: var(--padding);
}

.card > p {
  font-size: var(--font-size-sm);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.error {
  margin-top: 2.5rem;
  color: red;
}
