.link {
  color: var(--foreground-color);
  text-decoration: none;
}

.figure {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  outline: 1px solid var(--shadow-outline-color);
  overflow: hidden;
  padding: var(--padding);
  background-color: var(--background-secondary-color);
}

.figcaption {
  padding: var(--padding);
}

.image {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
